/*----------------------------------------
Name: header.css
Developed by: 曹清，王成
Date Created: 2012-05-20
Last Updated: 2012-06-20
Copyright: 全国老龄办信息中心
----------------------------------------*/

@charset "utf-8";

/*顶部--------------------------------------*/
#top{background:url(../img/box_bg.gif) repeat-x; height:32px; line-height:29px;color:#FAA037; font-weight:bold;width:100%;margin: 0 auto; }
	#topfunc{height:28px; line-height:28px;}
	#topfunc a{color: #999;padding:0 1px;font-size:13px;}
	#topfunc a:hover{color:#FAA037;}
	#banner {width:1000px;height:133px; background:url(../img/banner.png) left top no-repeat;}
	#navi{width:1000px;height:54px; background:url(../img/menu_bg.gif) left top repeat-x;padding-top:10px;}
	#navi a{float:left;display:inline-block;width:98px;height:24px;line-height:24px; text-align:center;color:#FFF;font-size:14px;}
	#navi a.father{font-weight:bold;font-size:15px; }
