/*----------------------------------------
Name: footer.css
Developed by: 曹清，王成
Date Created: 2012-05-20
Last Updated: 2012-06-20
Copyright: 全国老龄办信息中心
----------------------------------------*/

@charset "utf-8";

#footer{clear:both;width:1000px;text-align:center;padding:5px 0 10px 0;line-height:22px;}
#footer .flink{width:998px;height:30px; line-height:30px; background-color:#FAA037; color:#FFF; border:1px solid #EAEAEA ;}
#footer .flink a{color:#FFF; font-weight:bold;}
