/*----------------------------------------
Name: header.css
Developed by: 曹清，王成
Date Created: 2012-05-20
Last Updated: 2012-06-20
Copyright: 全国老龄办信息中心
----------------------------------------*/

@charset "utf-8";

/*顶部--------------------------------------*/
#top{background:url(../img/box_bg.gif) repeat-x; height:32px; font-weight:bold;width:100%;margin: 0 auto; }
	#topfunc{height:23px; line-height:23px;}
	#topfunc a{color: #FAA037;padding:0 1px;}
	#topfunc a:hover{color:#FAA037;}
#header{width:100%; height:91px; background-color:#FAA037; clear:both;}
	#banner{width:219px; height:91px; float:left;}
	#navi{width:780px;height:60px; background: #C96; background:url(../img/navi.jpg) repeat-x;float:left;padding-top:24px;}
	#navi a{width:40px;float:left; color:#FFF; font-size:15px; text-decoration:none; margin-bottom:18px; text-align:center;}
	#navi a.father{font-weight:bold;font-size:15px; }
	
#twl{width:100%;height:90px;margin:5px 0;}
	 .box1{width:326px;height:90px; background-color:#FFF7E4;float:left;}
	.box1 img{width:119px;height:77px;margin:7px 15px 0 15px;float:left;}
	.box1 .cont{float:left;width:165px;height:90px;}
	.box1 .cont .title{display:block; color:#FAA037;font-size:13px; font-weight:bold;margin-top:10px; margin-bottom:5px;}
	.box1 .cont .sub{display:block; text-indent:24px;line-height: 18px;}
#ns{width:100%; height:35px; background:url(../img/bg_ns.jpg) repeat-x;}
	#notice{width:500px; height:32px; float:left; margin-left:10px;}
	#notice .notice-title{height:32px;line-height:32px;color: #C00; font-weight:bold; font-size:14px; float:left;}
	#notice .notice-text{width:430px; height:32px;line-height:32px;float:left;}
	#notice .notice-text a{padding-left:15px; background:url(../img/ico1.gif) no-repeat;background-position: 5px 7px;}
	
	#search{height:35px;overflow:hidden; width:480px;float:left;}
	.searchform{height:35px;background:url(../img/bg_search.jpg) no-repeat;background-position: 0 4px; width:375px;}
	#txtKey{float:left;font-size:12px;height:24px; line-height:24px; overflow:hidden;margin:6px 0 0 7px;width:280px;}
	#btnSearch{display:inline;float:left;cursor:pointer; margin:5px 0 0 4px;background:url(../img/search.jpg); background-repeat:no-repeat; width:80px; height:25px; }
	.shouxie{float:left;width:105px;height:35px; background:url(../img/bg_search2.jpg) no-repeat center;}