/*----------------------------------------
Name: header.css
Developed by: 曹清，王成
Date Created: 2012-05-20
Last Updated: 2012-06-20
Copyright: 全国老龄办信息中心
----------------------------------------*/

@charset "utf-8";

/**topfunc**/
#top{background:url(../img/box_bg.gif) repeat-x; height:28px; line-height:28px;  color:#ccc; width:100%;margin: 0 auto; }
	#topfunc{height:28px; line-height:28px;}
	#topfunc a{color: #009;padding:0 1px;}
	#topfunc a:hover{color:#69C}
/**header**/
#header{width:100%;}
	#banner{width:1000px;height:152px;background:url(../img/banner.jpg) no-repeat;}
	#navi{  background:#069; width:960px;height:22px; padding:8px 5px 0 35px;}
	#navi a{ display:block;width:80px;float:left;color:#fff;}
	#navi a:hover{text-decoration:underline;}
	
#ns{width:100%; height:32px; background: url(../img/ns.jpg) repeat-x;}
	#notice{width:730px; height:32px; float:left; margin-left:5px; }
	#notice .notice-title{height:32px;line-height:32px;color: #C00; font-weight:bold; float:left;}
	#notice .notice-text{width:650px; height:32px;line-height:32px;float:left;}
	#notice .notice-text a{padding-left:15px; background:url(../img/ico1.gif) no-repeat;background-position: 5px 7px;}
	
	
#search{height:35px;overflow:hidden; width:260px;}
	.searchform{height:35px;background:url(../img/searchbg.gif) no-repeat;background-position: 0 2px}
	#txtKey{color:#bababa;float:left;font-size:12px;height:20px; line-height:20px; overflow:hidden;margin:6px 0 0 7px;width:185px;}
	#btnSearch{display:inline;float:left;cursor:pointer; margin:5px 0 0 4px;background:url(../img/search.jpg); background-repeat:no-repeat; width:60px; height:25px; }
	#fid_box{border:0px solid #ccc; float:left; padding:8px 7px 0 9px; text-align:center;}
	#fid{border:1px solid #ccc; color:#666; height:20px;}