/*----------------------------------------
Name: reset.css
Developed by: 曹清，王成
Date Created: 2012-05-20
Last Updated: 2012-06-20
Copyright: 全国老龄办信息中心

reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
----------------------------------------*/

@charset "utf-8";

* {	vertical-align: baseline; font-weight: inherit; font-family: inherit; font-style: inherit;font-size: 100%; outline: 0; padding: 0; margin: 0; border: 0;}
html {color: #000; background: #FFF;}
*+html * {letter-spacing: 0px } /* IE7 */ 
html,body {height: 100%;letter-spacing: 0px;}  /* 同时设置html是为了兼容FF */
body{font:12px Verdana, Arial, Helvetica, sans-serif,"宋体"; color:#42515A; background:url(../img/pbg.jpg) top repeat-x; word-break:break-all;}
img {border: none; float: none;}
ol,ul {list-style: none;}
a,a:link,a:visited,a:hover,a:active,a img,img {	text-decoration: none; color: #036;}
hr {color: #000; background-color: #000; height: 1px}
button,input,select,textarea {font-size: 100%;}  /* 使得表单元素在 ie 下能继承字体大小 */
select,input{vertical-align:middle; padding:1px 0;}
table {border-collapse: collapse; border-spacing: 0;}  /* 重置表格元素 */
caption,th,td {font-weight: normal; text-align: left;}
label {cursor:hand;}

/* to preserve line-height and selector appearance */
sup {	vertical-align: text-top;}
sub {	vertical-align: text-bottom;}
blockquote:before,blockquote:after,q:before,q:after {	content: "";}
blockquote,q {	quotes: "" "";}
address,caption,cite,code,dfn,em,strong,th,var {font-style: normal; font-weight: normal;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight: bold;}
code,kbd,pre,samp,tt {font-family: "Courier New", Courier, monospace;}  /* 统一等宽字体 */
small {font-size: 12px;}  /* 小于 12px 的中文很难阅读，让 small 正常化 */

