
@import url(../common.css);

body {	margin: 0;	padding: 0;	text-align: center;}
#container {	width: 795px;	margin: 0 auto;	background-color: #FFF;	text-align: left;}
#header {	width: 795px;background-color: #FFF;		height: 187px;}
#banner {	width: 795px;background: url(../../img/lnbzf/banner.jpg) no-repeat;height: 160px;}

#navi {width: 745px;background: url(../../img/lnbzf/title-t.jpg) repeat-x;		height: 27px; 	padding-left: 50px;}
#navi a {width: 110px;	float: left;	text-decoration: none;	font-size: 15px;	font-family: "黑体";	color: #FFF;	padding-top: 5px;}
#navi a:hover {color: #000}

#flash {width: 390px;	height: 290px;	background-color: #FFF;	margin: 10px 0 0 0;	float: left;	border: #ccc 1px solid;}
#flash a {margin-left: 8px;}

.time {float: right;}

.box {width: 390px;	height: 290px;	background-color: #FFF;	margin-top: 10px;	float: left;	border: #ccc 1px solid;}
.box .title {width: 390px;	height: 26px;	background: url(../../img/lnbzf/title-x.jpg) no-repeat;}
.box .title .tt {width: 200px;	height: 30px;	font-family: "黑体";	font-size: 15px;	color: #FFF;	float: left;	padding-top: 5px;	padding-left: 20px;	font: bold;	float: left;	font-weight: 500;}
.box .title .more {float: right;	margin-right: 15px;	margin-top: 6px;}
.box .title .more a {	color: #000;	font-size: 12px;	margin-top: 5px;}
.box .title .more a:hover {color: #C00}
.box .list {	width: 390px;	float: left;	background-color: #FFF;	padding-top: 10px;}
.box .list ul li {width: 380px;	list-style: none;	height: 29px;	float: left;	background: url(../../img/lnbzf/fh2.jpg) no-repeat;	background-position: 10px 3px;	}
.box .list ul li a {	width: 330px;text-decoration: none;	color: #000;	overflow: hidden;	font-size: 12px;	margin-left: 30px;}
.box .list ul li a:hover {color: #C00}

#footer {clear: both;	float: left;	background-color: #fff;	width: 795px;	height: 50px;	margin-top: 10px;	font-size: 12px;
	font: "宋体";	text-align: center;	line-height: 20px;	border-top: #ccc 2px solid;	padding-top: 20px;}

