/*----------------------------------------
Name: channel.css
Developed by: 曹清，王成
Date Created: 2012-05-20
Last Updated: 2012-06-20
Copyright: 全国老龄办信息中心
----------------------------------------*/

@charset "utf-8";

@import url(reset.css);

/*页面居中----------------------------------------*/
body {text-align: center;}
#container {margin: 0 auto; text-align: left; background-color: #FFF;width:1000px;overflow: hidden;}
#container select{border:1px solid #ccc;}

/*定义宽高---------------------------------------*/
.w92{width:92%; margin:0 auto;}
.w96{width:96%; margin:0 auto;}
.w98{width:98%; margin:0 auto;}

.w1000{width:1000px;}
.w216{width:216px;}
.w170{width:170px;}
.w295{width:295px;}
.w597{width:597px;}
.w998{width:998px;}


.h295{height:295px;}
.h119{height:119px;}
.h421{height:421px;}
.h50{height:50px;}



/*边框---------------------------------------------*/
.border1{border:1px solid #9CF;}
.border2{border:1px solid #ccc;}

/*定义颜色----------------------------------------*/
.black{color:#000;}
.white{color:#fff;}
.blue{color:blue;}
.green{color:green;}
.gray{color:#ccc;}
.red{color:#ff0000;}

/*超链接----------------------------------------*/
a:link, a:visited{color:#333;text-decoration:none;}
a:hover, a:active{color:#ff3300;text-decoration:underline;}
a.red:link,a.red:visited{color:#f54100;}
a.black:link,a.black:visited{color:#000;}
a.white:link,a.white:visited{color:#fff; text-decoration:none;}
a.white:hover{color:#ff0;}
a.blue:link,a.blue:visited{color:#004b8b; font-weight:bold; font-size:12px;}

/*定位----------------------------------------*/
.clear{clear:both; height:0; overflow:hidden;}
.box:after{content:"\0020";display:block;height:0;clear:both;}
.relative{position:relative; z-index:1;}
.absolute{position:absolute;}

.img-vm{vertical-align:middle}
.center{margin:0 auto;}

.gtl{text-align:left;}
.gtc{text-align:center;}
.gtr{text-align:right;}
.gtj{text-align:justify;}

.gvt{vertical-align:top;}
.gvm{vertical-align:middle;}
.gvb{vertical-align:bottom;}

.fl{float:left;}
.fr{float:right;}

.m0{margin:0;}
.mt3{margin-top:3px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.ml2{margin-left:2px;}
.ml3{margin-left:3px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.mr3{margin-right:3px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}

.p0{padding:0;}
.p1{padding:1px;}
.p2{padding:2px;}
.p3{padding:3px;}
.pt3{padding-top:3px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}

.hide{display:none;}
.inline{display:inline;}
.block{display:block;}
.inline_block{display: inline-block;}
.nob{border:none;}

/*字体----------------------------------------*/
.bold{font-weight:bold;}

/*分页样式------------------------------------*/
.pagination{height:30px; line-height:30px;; text-align:center; clear:both; margin-top:15px;}

/*分页样式2，当前页链接样式---------------*/
.p2-crr{color:#FF0000;font-weight:bold;}

/*分页样式3，当前页链接样式*/
.pg-3{font-size:12px;font-family:Verdana;margin:5px auto;padding:3px;text-align:center;}
.pg-3 a,.total{border:#eee 1px solid; padding:2px 5px; margin:2px; color:#036cb4; text-decoration:none;}
.pg-3 a:hover{border:#999 1px solid; color:#666;}
.pg-3 a:active{border:#999 1px solid; color: #666;}
.pg-3 .current{border:#036cb4 1px solid; padding:2px 5px; font-weight:bold; margin:2px; color:#fff; background:#036cb4;}
.pg-3 .disabled{border:#eee 1px solid; padding:2px 5px; margin:2px; color:#ddd;}

/*分页样式4，当前页链接样式*/
.pg-4{font-size:12px;font-family:Verdana;margin:5px auto;padding:3px;text-align:right;}
.pg-4 a,.count{border: #ddd 1px solid; padding:2px 5px; color: #88af3f; margin-right: 2px; text-decoration: none;}	
.pg-4 a:hover{border: #85bd1e 1px solid; color: #638425; background-color: #f1ffd6;}	
.pg-4 a:active{border:#85bd1e 1px solid; color: #638425; background-color: #f1ffd6;}
.pg-4 .current{border:#b2e05d 1px solid; padding:2px 5px; font-weight:bold; color:#fff; margin-right:2px; background:#b2e05d;}
.pg-4 .disabled{border:#f3f3f3 1px solid; padding:2px 5px; color: #ccc; margin-right:2px;}

/*内容样式1，下划线*/
.c1-bline{border-bottom:#999 1px dashed;border-top:1px;}





