/*----------------------------------------
Name: header.css
Developed by: 曹清，王成
Date Created: 2012-05-20
Last Updated: 2012-06-20
Copyright: 全国老龄办信息中心
----------------------------------------*/

@charset "utf-8";

/**topfunc**/
	#topfunc{width:100%;height:26px;background:url(../img/bg-fun.jpg) repeat-x ;}
	#topfunc .fun{width:1000px;height:23px;line-height:23px;margin: 0 auto;}
	#topfunc .left{text-align: left;}
	#topfunc .left input{border:1px #ccc solid;padding:1px;width:100px;height:14px;font-size:12px;}
	#topfunc .left input.login{ width:46px; height:18px; border:1px #CCC solid;}
	#topfunc .right{text-align: right;}
/**header**/
#header{width:100%;}
	#banner{width:1000px;height:152px;background:url(../img/banner.jpg) no-repeat;}
	#navi{ background:url(../img/bg-navi.jpg) no-repeat;width:960px;height:22px; padding:8px 5px 0 35px;}
	#navi a{ display:block;width:80px;float:left;}
	#navi a:hover{text-decoration:underline;}
	#ns{width:1000px;height:29px; background:url(../img/bg-ns.jpg) repeat-x;}
	#notice{width:600px;margin:7px 0 0 2px;}
	#notice .notice-title{ color:#F00; font-size:14px; font-weight:bold;}
	#notice .notice-text{width:650px; height:32px;line-height:32px;float:left;}
	#notice .notice-text a{padding-left:15px; background:url(../img/ico1.gif) no-repeat;background-position: 5px 7px;}
	#notice a{ background:url(../img/bg-notice.jpg) no-repeat; background-position:0 3px;padding-left:15px;}
	#notice a:hover{text-decoration:underline;}
	#search{ background:url(../img/bg-search.jpg) no-repeat; width:309px; height:26px;margin-top:1px;}
	#search input{border:none; background: none;}
	#search .text{width:246px;height:19px;margin:2px 0 0 5px;padding:1px;}
	#search .button{width:50px; text-align:left;margin:5px 0 0 0px;}