/*----------------------------------------
Name: head.css
Developed by: 王成
Copyright: 全国老龄办信息中心
----------------------------------------*/

@charset "utf-8";

body{background:url(../img/bg_body.jpg) repeat-x; min-height:1300px;}

#header{width:966px;}
#top{width:966px;height:127px;margin:0 auto; background:url(../img/logo.jpg) no-repeat;}


#navi{width:966px; height:74px; line-height:50px; background:url(../img/bg_navi.jpg) no-repeat -3px top;}
#navi a{width:120px;float:left; color: #999; font-size:15px; text-decoration:none; margin:8px 0 5px 0; text-align:center;font-weight:bold;}
