/*----------------------------------------
Name: footer.css
Developed by: 曹清，王成
Date Created: 2012-05-20
Last Updated: 2012-06-20
Copyright: 全国老龄办信息中心
----------------------------------------*/

@charset "utf-8";

#bottom{width:100%;height:140px; line-height:35px;border-top:#CDCDCD 1px solid;background-color:#F8F8F8;}
#footer{clear:both;width:980px;margin: 0 auto; text-align:center;padding:5px 0 10px 0;}
#footer .flink{width:980px;height:2px;font-size:14px;color:#ccc;}
#footer .info{width:980px;font-size:14px;color:#333;}

